*{margin:0; padding:0; box-sizing:border-box}

:root,body
{
    width:100%;
    height:100%;
}

:root,section::before
{
	background:url("../images/jpg/cloud-wallpaper.jpg") 0 0 / 100% 100% no-repeat fixed;

}

header
{
	display:flex;
	justify-content:center;
	padding:3%;
}

input
{
 	display:flex;
	text-align:center;
}

main 
{

}

article
{

}

section
{
	position:relative;
	border-radius:3px;
	box-shadow: 0 0 3px black, inset 0 0 1px gray;
	padding: 3%;
	margin: 10px;
	font-weight:bold;
	text-shadow:-1px -1px 3px black;
  	background: -webkit-linear-gradient(top left,yellow,#FF0 70%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

section::after
{

	position:absolute;
	top:0; right:0;
	width:100%;
	height:100%;
	content:"";
	z-index:-1;
	background:rgba(0,0,0,0.7);
}
section::before
{

	position:absolute;
	top:0; right:0;
	width:100%;
	height:100%;
	content:"";
	z-index:-2;
}
