*{box-sizing:border-box;}

:root
{
	 background-color:#242424;
	 width:100vw;
	 height:100vh;
}

article,section
{
	 display:inline-block;
	 width:69vw;
	 padding:1% 0;
	 box-shadow:1px 1px 1px black, inset 0 0 1px white, inset 0 0 30px black;
	 background:rgba(255,255,255,0.7);
	 border-radius:3px;
	 text-align:center;
}

pre
{
	 width:80%;
	 height:80%;
	 margin:0 auto;
	 background:rgba(255,255,255,0.1);
	 padding:0.3%;
	 padding-top:0.9%;
	 box-shadow:0 0 3px 1px #242424, inset 0 0 10px white;
	 border-radius:3px;

}
