body,p::before
{
    //    background: url("Downloads/aurora.jpg") 0 0 / 100vw 100vh no-repeat fixed;
    background: url("Downloads/house.jpg") 0 0 / 100vw 100vh no-repeat fixed;
    padding:10%;
}

p
{
    position:relative;
    padding:15px;
    margin:15px;
    max-width: 15vw;
    max-height: 15vw;
    text-overflow:hidden;
    overflow:hidden;
    display:inline-block;
    font-size: 1vw;
    color:white;
//    background: -webkit-linear-gradient(top left,pink,red,yellow,green,blue,pink);
//    -webkit-background-clip: text;
//    -webkit-text-fill-color: transparent;


}
p::before
{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    right:0;

    content:"";
    z-index:-2;
    border-radius:3px;

    filter:blur(3px);
}

p::after
{
    z-index:-1;
    background:rgba(0,0,0,0.3);
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    right:0;
    box-shadow:inset 0 0 2px white, 1px 1px 1px black;
    border-radius:1px;
}
