body
{
    width:100vw;
    height:100vh;
    background:url("/home/vms/Downloads/donate.jpg") fixed no-repeat 0 0 / 100% 100%;
    color:white;
}

form
{
    margin:20vh 3vw;
    padding:5vw;
    background:rgba(255,255,255,0.3);
    width:24vw;
    
}

form>input[type="submit"],select
{
    width:200px;
    background:rgba(0,0,0,0);
    border:0;
    color:white;
}
label
{
    display:inline-block;
    min-width:200px;
    
}
input[type="radio"]
{
    -webkit-appearance: button; /* Chrome, Safari, Opera */
    -moz-appearance: button;    /* Firefox */
    -ms-appearance: button;     /* not currently supported */
    background-color:gray;
    border-radius:2px;
    width:10px;
    height:10px;
}
input[type="radio"]:checked
{
    background-color:forestgreen;
    box-shadow:0 0 3px black;
}
